services:
  workload:
    container_name: workload
    hostname: workload
    image: valthree:latest
    entrypoint:
      - "/usr/local/bin/valthree"
      - "workload"
      - "-v"
      - "--json"
      - "--addrs"
      - "valthree0:6379,valthree1:6379,valthree2:6379"
      - "--artifacts"
      - "/var/log/valthree/workload"
    depends_on: [valthree0, valthree1, valthree2]
    init: true
    volumes:
      - workload_logs:/var/log/valthree/workload
  valthree0:
    container_name: valthree0
    hostname: valthree0
    image: valthree:latest
    entrypoint:
      - "/usr/local/bin/valthree"
      - "serve"
      - "-v"
      - "--json"
    init: true
    depends_on: [minio]
    healthcheck:
      test: redis-cli PING
  valthree1:
    container_name: valthree1
    hostname: valthree1
    image: valthree:latest
    entrypoint:
      - "/usr/local/bin/valthree"
      - "serve"
      - "-v"
      - "--json"
    init: true
    depends_on: [minio]
    healthcheck:
      test: redis-cli PING
  valthree2:
    container_name: valthree2
    hostname: valthree2
    image: valthree:latest
    entrypoint:
      - "/usr/local/bin/valthree"
      - "serve"
      - "-v"
      - "--json"
    init: true
    depends_on: [minio]
    healthcheck:
      test: redis-cli PING
  minio:
    container_name: minio
    hostname: minio
    image: docker.io/minio/minio:RELEASE.2025-07-23T15-54-02Z
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    post_start:
      - user: "root"
        command: "mkdir -p /data/primary"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=password
      - MINIO_DEFAULT_BUCKETS=valthree

volumes:
  minio_data:
  workload_logs:
