services:
  valthree0:
    container_name: valthree0
    hostname: valthree0
    image: valthree:latest
    entrypoint:
      - "/usr/local/bin/valthree"
      - "serve"
      - "-v"
      - "--json"
    init: true
    depends_on: [minio]
    healthcheck:
      test: redis-cli PING
  valthree1:
    container_name: valthree1
    hostname: valthree1
    image: valthree:latest
    entrypoint:
      - "/usr/local/bin/valthree"
      - "serve"
      - "-v"
      - "--json"
    init: true
    depends_on: [minio]
    healthcheck:
      test: redis-cli PING
  valthree2:
    container_name: valthree2
    hostname: valthree2
    image: valthree:latest
    entrypoint:
      - "/usr/local/bin/valthree"
      - "serve"
      - "-v"
      - "--json"
    init: true
    depends_on: [minio]
    healthcheck:
      test: redis-cli PING
  workload:
    container_name: workload
    hostname: workload
    image: valthree:latest
    entrypoint:
      - "/usr/local/bin/valthree"
      - "workload"
      # - "-v"
      - "--json"
      - "--addrs"
      - "valthree0:6379,valthree1:6379,valthree2:6379"
    depends_on: [valthree0, valthree1, valthree2]
    init: true
  minio:
    container_name: minio
    hostname: minio
    image: quay.io/minio/minio
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    post_start:
      - user: "root"
        command: "mkdir -p /data/primary"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=password
      - MINIO_DEFAULT_BUCKETS=valthree

volumes:
  minio_data:
