name: ci
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "15 22 * * *"
  workflow_dispatch: {} # support manual runs
permissions:
  contents: read
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Install Go
        uses: actions/setup-go@v4
      - name: Test
        run: make test
      - name: Lint
        run: make lint
