name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "15 22 * * *"
  workflow_dispatch:
    inputs:
      duration:
        type: string
        required: false # default set below b/c automated runs don't use this config
        description: Test duration (minutes, default 30)
      emails:
        type: string
        required: false # likewise, default set below
        description: Email recipients (default notifies Zulip)
permissions:
  contents: read
jobs:

  Go:
    name: Go Build, Test, and Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Install Go
        uses: actions/setup-go@v5
      - name: Test
        run: make test
      - name: Lint
        run: make lint

  Antithesis:
    name: Trigger Antithesis
    needs: Go
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Initialize Docker
        uses: docker/setup-buildx-action@v3
      - name: Log Into Registry
        uses: docker/login-action@v3
        with:
          registry: us-central1-docker.pkg.dev
          username: _json_key
          password: ${{ secrets.ANTITHESIS_GAR_KEY }}
      - name: Extract Config Metadata
        id: extract-config-metadata
        uses: docker/metadata-action@v5
        with:
          images: us-central1-docker.pkg.dev/molten-verve-216720/demo-repository/valthree-config
          tags: |
            type=sha
            demo
      - name: Build Config
        id: build-config
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.config
          push: true
          tags: ${{ steps.extract-config-metadata.outputs.tags }}
          labels: ${{ steps.extract-config-metadata.outputs.labels }}
      - name: Extract Valthree Metadata
        id: extract-valthree-metadata
        uses: docker/metadata-action@v5
        with:
          images: us-central1-docker.pkg.dev/molten-verve-216720/demo-repository/valthree
          tags: |
            type=sha
            demo
      - name: Build Valthree
        id: build-valthree
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.valthree
          push: true
          tags: ${{ steps.extract-valthree-metadata.outputs.tags }}
          labels: ${{ steps.extract-valthree-metadata.outputs.labels }}
      - name: Trigger Antithesis
        uses: antithesishq/antithesis-trigger-action@main
        with:
          notebook_name: valthree
          tenant: demo
          username: ${{ secrets.ANTITHESIS_USERNAME }}
          password: ${{ secrets.ANTITHESIS_PASSWORD }}
          github_token: ${{ secrets.GH_PAT }}
          config_image: us-central1-docker.pkg.dev/molten-verve-216720/demo-repository/valthree-config@${{ steps.build-config.outputs.digest }}
          images: us-central1-docker.pkg.dev/molten-verve-216720/demo-repository/valthree@${{ steps.build-valthree.outputs.digest }};docker.io/minio/minio:RELEASE.2025-07-23T15-54-02Z
          description: "[${{ github.repository }}] CI for ${{ github.ref_name }} (commit ${{ github.sha }})"
          email_recipients: ${{ github.event.inputs.emails || secrets.ZULIP_REPORT_EMAIL }}
          additional_parameters: |-
            antithesis.duration=${{ github.event.inputs.duration || '30' }}
