name: Multiverse Debugging
on:
  workflow_dispatch:
    inputs:
      moment:
        type: string
        required: true
        default: ""
        description: "Moment (directly copied from report)"
      emails:
        type: string
        required: false # default handled below
        description: Email recipients (default notifies Zulip)
permissions:
  contents: read
jobs:
  Debugging:
    name: Multiverse Debugging
    runs-on: ubuntu-latest
    steps:
      - name: Parse Session ID
        id: session-id
        uses: actions/github-script@v7
        env:
          VERBATIM: ${{ github.event.inputs.moment }}
        with:
          result-encoding: string
          script: |
            const args = process.env.VERBATIM.match(/Moment\._exact\((.+)\)$/)[1];
            const sessionID = args.match(/id: "(.+)"}\),/)[1];
            console.log(sessionID);
            return sessionID;
      - name: Parse Input Hash
        id: input-hash
        uses: actions/github-script@v7
        env:
          VERBATIM: ${{ github.event.inputs.moment }}
        with:
          result-encoding: string
          script: |
            const args = process.env.VERBATIM.match(/Moment\._exact\((.+)\)$/)[1];
            const inputHash = args.match(/}\),\s+'(.+)',/)[1];
            console.log(inputHash);
            return inputHash;
      - name: Parse Virtual Time
        id: vtime
        uses: actions/github-script@v7
        env:
          VERBATIM: ${{ github.event.inputs.moment }}
        with:
          result-encoding: string
          script: |
            const args = process.env.VERBATIM.match(/Moment\._exact\((.+)\)$/)[1];
            const vtime = args.match(/',\s*(.+)\s*$/)[1];
            console.log(vtime);
            return vtime;
      - name: Launch Multiverse Debugger
        id: launch-debugger
        uses: antithesishq/antithesis-trigger-action@main
        with:
          notebook_name: launch_debugging
          tenant: demo
          username: ${{ secrets.ANTITHESIS_USERNAME }}
          password: ${{ secrets.ANTITHESIS_PASSWORD }}
          github_token: ${{ secrets.GH_PAT }}
          email_recipients: ${{ github.event.inputs.emails || secrets.ZULIP_REPORT_EMAIL }}
          additional_parameters: |-
            antithesis.debugging.session_id=${{ steps.session-id.outputs.result }}
            antithesis.debugging.input_hash=${{ steps.input-hash.outputs.result }}
            antithesis.debugging.vtime=${{ steps.vtime.outputs.result }}
